<html>
<head>
  <title>Company Profile</title>
</head>
<body>
  <h1><%= companyProfile.companyName %></h1>
  <p><%= companyProfile.description %></p>
  <p>Alamat: <%= companyProfile.address %></p>
  <p>Telepon: <%= companyProfile.phone %></p>
  <p>Email: <%= companyProfile.email %></p>
</body>
</html>
